
/* Navbar */

.navbar{
  background-color: white;
}

.navbar-form {
	width: 73% !important;
}

.form-group {
	width: 100%;
}

.form-control {
	width: 100% !important;
  background-color: #e6e6e6;
}

.form-control:focus {
  border:none;
  box-shadow: none;
}





/***********************
- Pinterest Cards
***********************/

#pinBoot {
  position: relative;
  max-width: 100%;
  width: 100%;
}
img {
  width: 100%;
  max-width: 100%;
  height: auto;
}
.pinCards {
    position: absolute;
    background: white;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
    padding: 10px;
}
h2 {
  width: 100%;
}
.pinButton {
  float: right;
  border: 2px solid black;
  background-color: #C70039;
}
.btn-primary {
  color: white;
}


/*********************
- Input Partial
**********************/

.inputBoard {
  border: 2px solid black;
  margin: 10% 10% 0 10%;
}
.create {
  float: right;
  margin-right: 1%;

}
.cancel {
  float: right;
  margin-right: 1%;
}

