<!-- 
	<div class="title">
		<h1 style="text-align: center">Boards</h1>
	</div>
	<div class="main-board">
		<div class="create-board">
			<a href="#!/create-board" class="action-button shadow animate red">Create new board</a>
		</div>
		<div class="board">
			<div class="board-title">
				<h3>{{board.title}}board title</h3>
			</div>
			<div class="board-description"> <!-- Spelled Wrong !-->
<!-- 				<p>{{board.description}}board description</p>
			</div>
		</div>
		<div>
			<a href="#!/board/{{board.title}}" class="action-button shadow animate red">view board</a>
		</div>
	</div>
</div> -->

<div class="board-wrapper" >
    <div class="title">
        <h1 style="text-align: center">Boards</h1>
    </div>
    <div class="main-board" ng-repeat="board in boards | filter: searchText.search">
        <div class="create-board">
            <a href="#!/create-board" class="action-button shadow animate red">Create new board</a>
            <a href="#!/board/{{board.title}}" class="action-button shadow animate red">view board</a>
        </div>
        <div class="board text-center">
        	<div class="board-card">
	            <div class="board-title">
	                <h3>{{board.title}}</h3>
	            </div>
	            <div class="baord-description">
	                <p>{{board.description}}</p>
	            </div>
            </div>
        </div>
    </div>
</div>

