
<form>
  <div class="form-group">
    <label>Create Board: </label>
    <!-- TODO: Hook up this form to our JS for submitting -->
    <input type="text" class="form-control" placeholder="Board Title" ng-model="newBoard.title"/>
    <input type="text" class="form-control" placeholder="Board Description" ng-model="newBoard.description"/>
  </div>
  <!-- TODO: bind this button to a function -->
  <button class="action-button shadow animate red" ng-click="addNewBoard()">Create Board</button>
</form>

<div>

</div>
