<div id="columns">
  <figure>
    <a href="#" class="action-button shadow animate red">Pin</a>
  <img src="data/pictures/10Bama.jpg">
	<figcaption>Cinderella wearing European fashion of the mid-1860’s</figcaption>
	</figure>

   <figure>
     <a href="#" class="action-button shadow animate red">Pin</a>
	 <img src="data/pictures/D-henry.jpg">
	<figcaption>Sleeping Beauty, based on European fashions in 1485</figcaption>
	</figure>

   <figure>
     <a href="#" class="action-button shadow animate red">Pin</a>
	 <img src="data/pictures/luke-warm">
	<figcaption>Pocahontas based on 17th century Powhatan costume</figcaption>
	</figure>

	<figure>
    <a href="#" class="action-button shadow animate red">Pin</a>
	<img src="data/pictures/star_wars_meme_yoda.jpg">
	<figcaption>Snow White, based on 16th century German fashion</figcaption>
	</figure>

   <figure>
  <a href="#" class="action-button shadow animate red">Pin</a>
	<img src="data/pictures/whale-cat.jpg">
	<figcaption>Ariel wearing an evening gown of the 1890’s</figcaption>
	</figure>


</div>
