

/***********************************************************
This will filter through pins from board and push to page----
    - Needs ng-click added
    - 
***********************************************************/
<div id="columns">

  <figure ng-click="">
   	<div ng-repeat="pin in pins | filter: searchText.search">
   		<a href="#!/boards" ng-click="" class="action-button shadow animate red">Save Pin</a>
   		<img src="{{pin.url}}">
   	<figcaption>{pin.title}</figcaption>
   	<figcaption>{pin.Description}</figcaption>
  </figure>

</div>
