<!-- <div class="pin-wrapper">
	<div class="title">
		<h1>{{pin.title}}Pin Title</h1>
		<figure>
			<img src="{{pin.url}}" alt="Pin Board">
			<figcaption>{{pin.description}}Pin Description</figcaption>
		</figure>
	</div>
</div> -->


<figure ng-click="">
 	<div ng-repeat="pin in pins | filter: searchText.search">
 		<a href="#!/boards" ng-click="" class="action-button shadow animate red">Save Pin</a>
 		<img src="{{pin.url}}">
 	<figcaption>{pin.title}</figcaption>
 	<figcaption>{pin.Description}</figcaption>
</figure>
