<h1>Nick Nash <small> Pin your World </small></h1>
<header>
  <figure class="profile-banner">
    <img src="https://unsplash.it/975/300" alt="Profile banner" />
  </figure>
  <figure class="profile-picture"
    style="background-image: url('http://unsplash.it/150/150')">
  </figure>
</header>

<div id="columns">
  <figure>
    <a href="#!/boards" class="action-button shadow animate red">Pin</a>
  <img src="data/pictures/10Bama.jpg">
	<figcaption>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse posuere auctor erat, sed volutpat urna. Fusce porttitor lobortis volutpat. Mauris eget facilisis mauris.</figcaption>
	</figure>

   <figure>
     <a href="#!/boards" class="action-button shadow animate red">Pin</a>
	 <img src="data/pictures/yoda-saber.jpg">
	<figcaption>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse posuere auctor erat, sed volutpat urna. Fusce porttitor lobortis volutpat. Mauris eget facilisis mauris..</figcaption>
	</figure>

	<figure>
		<a href="#!/boards" class="action-button shadow animate red">Pin</a>
	<img src="data/pictures/luke-warm.jpg">
 <figcaption>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse posuere auctor erat, sed volutpat urna. Fusce porttitor lobortis volutpat. Mauris eget facilisis mauris. </figcaption>
 </figure>

	<figure>
    <a href="#!/boards" class="action-button shadow animate red">Pin</a>
	<img src="data/pictures/star_wars_meme_yoda.jpg">
	<figcaption>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse posuere auctor erat, sed volutpat urna. Fusce porttitor lobortis volutpat. Mauris eget facilisis mauris.</figcaption>
	</figure>

   <figure>
  <a href="#!/boards" class="action-button shadow animate red">Pin</a>
	<img src="data/pictures/whale-cat.jpg">
	<figcaption>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse posuere auctor erat, sed volutpat urna. Fusce porttitor lobortis volutpat. Mauris eget facilisis mauris.</figcaption>
	</figure>


</div>
